<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/logoChico.svg" type="image/x-icon">
  <link rel="stylesheet" href="../css/styles.css">
  <title>KyMed</title>
</head>

<body>
  <header>
    <picture>
      <img src="../img/logoGrande.svg" alt="logoKyMed">
    </picture>
    <nav>
      <ul class="navBar">
        <li>
          <a href="../index.html">Home</a>
        </li>
        <li>
          <a href="./servicios.html">Servicios</a>
        </li>
        <li>
          <a href="./staff.html">Staff</a>
        </li>
        <li>
          <a href="./ubicacion.html">Ubicación</a>
        </li>
        <li>
          <a href="./contacto.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- <div class="divCenter">
      <section class="form">
        <form action="enviar formulario" method="post">
          <input class="formBox" type="text" placeholder="Nombre Completo" required>
          <input class="formBox" type="email" placeholder="contacto@contacto.com" required>

          <textarea class="formBox" placeholder="Mensaje" cols="30" rows="10" maxlength="300"></textarea>

          <input type="submit" value="Enviar">
          <input type="reset" value="Borrar">
        </form>
      </section>
    </div> -->

    <div class="contact_form">

      <div class="formulario">
        <h1 class="formTitle">Formulario de contacto</h1>
        <h3 class="formSubTitle">Escríbenos y en breve nos pondremos en contacto contigo</h3>


        <form action="submeter-formulario.php" method="post">
          <p>
            <label for="nombre" class="colocar_nombre">Nombre
              <span class="obligatorio">*</span>
            </label>
            <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
          </p>

          <p>
            <label for="email" class="colocar_email">Email
              <span class="obligatorio">*</span>
            </label>
            <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
          </p>

          <p>
            <label for="telefone" class="colocar_telefono">Teléfono
              <span class="obligatorio">*</span>
            </label>
            <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
          </p>

          <p>
            <label for="mensaje" class="colocar_mensaje">Mensaje
              <span class="obligatorio">*</span>
            </label>
            <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio"
              placeholder="Deja aquí tu comentario..."></textarea>
          </p>

          <button type="submit" name="enviar_formulario" id="enviar">
            <p>Enviar</p>
          </button>

          <p class="aviso">
            <span class="obligatorio"> * </span>los campos son obligatorios.
          </p>

        </form>
      </div>
    </div>

  </main>


  <footer>

    <a href="https://api.whatsapp.com/send?phone=5492974713738" target="_blank"> <img class="redSocial" src="../img/whatsapp.png" alt="logoWhatsApp"></a>
    <a href="https://www.instagram.com/kymed2019/?hl=es" target="_blank"> <img class="redSocial" src="../img/instagram.png" alt="logoInstagram"></a>
    <a href="https://es-la.facebook.com/Kymedconsultorio/" target="_blank"> <img class="redSocial" src="../img/facebook.png" alt="logoFaceBook"></a>
    <a href="mailto:kymed2016.cons@gmail.com" target="_blank"><img class="redSocial" src="../img/gmail.png" alt="logoGmail"></a>

  </footer>
</body>



</html>