<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/logoChico.svg" type="image/x-icon">
  <link rel="stylesheet" href="../css/styles.css">
  <title>KyMed</title>
</head>

<body>
    <header>
      <picture>
        <img src="../img/logoGrande.svg" alt="logoKyMed">
      </picture>
      <nav>
        <ul class="navBar">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="./servicios.html">Servicios</a>
          </li>
          <li>
            <a href="./staff.html">Staff</a>
          </li>
          <li>
            <a href="./ubicacion.html">Ubicación</a>
          </li>
          <li>
            <a href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
  <main>
    <section class="staff">
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/diferencias-fisioterapeuta-quiropractico-large.jpg" alt="fisio atendiendo paciente">
        <h1 class="fisioName">Nombre Kine1</h1>
        <p class="fisioDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eos quisquam pariatur delectus libero sit totam debitis voluptatibus alias sed facilis fugiat, sunt quasi minima assumenda harum. Amet, molestiae laboriosam!</p>
      </article>
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/diferencias-fisioterapeuta-quiropractico-large.jpg"alt="fisio atendiendo paciente">
        <h1 class="fisioName">Nombre Kine2</h1>
        <p class="fisioDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta dolorem eveniet ad minimaducimus ab voluptatem adipisci ipsam corrupti at dolores recusandae ea odit, cumque magni enim corporis delenitinon.</p>
      </article>
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/diferencias-fisioterapeuta-quiropractico-large.jpg"alt="fisio atendiendo paciente">
        <h1 class="fisioName">Nombre Kine3</h1>
        <p class="fisioDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta dolorem eveniet ad minimaducimus ab voluptatem adipisci ipsam corrupti at dolores recusandae ea odit, cumque magni enim corporis delenitinon.</p>
      </article>
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/diferencias-fisioterapeuta-quiropractico-large.jpg"alt="fisio atendiendo paciente">
        <h1 class="fisioName">Nombre Kine4</h1>
        <p class="fisioDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta dolorem eveniet ad minimaducimus ab voluptatem adipisci ipsam corrupti at dolores recusandae ea odit, cumque magni enim corporis delenitinon.</p>
      </article>
    </section>
  </main>

  <footer>

    <a href="https://api.whatsapp.com/send?phone=5492974713738" target="_blank"> <img class="redSocial" src="../img/whatsapp.png" alt="logoWhatsApp"></a>
    <a href="https://www.instagram.com/kymed2019/?hl=es" target="_blank"> <img class="redSocial" src="../img/instagram.png" alt="logoInstagram"></a>
    <a href="https://es-la.facebook.com/Kymedconsultorio/" target="_blank"> <img class="redSocial" src="../img/facebook.png" alt="logoFaceBook"></a>
    <a href="mailto:kymed2016.cons@gmail.com" target="_blank"><img class="redSocial" src="../img/gmail.png" alt="logoGmail"></a>

  </footer>
</body>

</html>