<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Centro de medicina general y rehabilitación kinesiológica ubicado en la ciudad de Comodoro Rivadavia, aquí se encuentran todos los profesionales que integran el centro">
  <meta name="keywords" content="KINESIOLOGIA, MEDICINA, REHABILITACIÓN, ATENCIÓN MÉDICA, KINESIOLOGO, KINESIOLOGOS, MÉDICO, MÉDICOS, REHABILITACIÓN DE MANOS, REHABILITACIÓN DEPORTIVA, TRAUMATISMO, DEPORTOLOGÍA">
  <link rel="shortcut icon" href="../img/logoChico.svg" type="image/x-icon">
  <link rel="stylesheet" href="../css/styles.css">
  <title>KyMed | Staff | Centro de medicina y rehabilitación kinesiológica</title>
</head>

<body>
    <header>
      <picture>
        <img src="../img/logoGrande.svg" alt="logoKyMed">
      </picture>
      <nav>
        <ul class="navBar">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="./servicios.html">Servicios</a>
          </li>
          <li>
            <a href="./staff.html">Staff</a>
          </li>
          <li>
            <a href="./ubicacion.html">Ubicación</a>
          </li>
          <li>
            <a href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
  <main>
    <section class="staff">
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/matias-villalba.webp" alt="fisio atendiendo paciente">
        <h1 class="fisioName">Matias Gutierrez</h1>
        <p class="fisioDescription">Médico. Especialista en Ortopedia y Traumatología
        ECFMG Certificate (Validación diploma de médico en EE.UU.)
        Especialista en Cirugía Ortopédica
        Especialista en Traumatología Deportiva
        Cirujano Artroscopista. Especialista en Cirugía Artroscópica</p>
      </article>
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/raquel-furnes.webp"alt="fisio atendiendo paciente">
        <h1 class="fisioName">Abril Ramirez</h1>
        <p class="fisioDescription">Médico Cirujano.
        Especialista en Ortopedia y Traumatología.
        Especialista en Cirugía Artroscóspica.</p>
      </article>
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/dr-alejandro-fazio.webp"alt="fisio atendiendo paciente">
        <h1 class="fisioName">Alejandro Pucheta</h1>
        <p class="fisioDescription">Médico. Especialista en Ortopedia y Traumatología.
        Cirujano acreditado en Pierna, Tobillo y Pie.
        Cirujano de Trauma Ortopédico.</p>
      </article>
      <article class="staffBox glassEffect">
        <img class="fisioPhoto" src="../img/dr-fernando-cervigni.webp"alt="fisio atendiendo paciente">
        <h1 class="fisioName">Fernando Cubilla</h1>
        <p class="fisioDescription">Médico Cirujano.
        Especialista en Ortopedia y Traumatología.
        Especialista en Cirugía de la Mano y Miembro Superior.
        Docente Universitario en Medicina.</p>
      </article>
    </section>
  </main>

  <footer>

    <a href="https://api.whatsapp.com/send?phone=5492974713738" target="_blank"> <img class="redSocial" src="../img/whatsapp.png" alt="logoWhatsApp"></a>
    <a href="https://www.instagram.com/kymed2019/?hl=es" target="_blank"> <img class="redSocial" src="../img/instagram.png" alt="logoInstagram"></a>
    <a href="https://es-la.facebook.com/Kymedconsultorio/" target="_blank"> <img class="redSocial" src="../img/facebook.png" alt="logoFaceBook"></a>
    <a href="mailto:kymed2016.cons@gmail.com" target="_blank"><img class="redSocial" src="../img/gmail.png" alt="logoGmail"></a>

  </footer>
</body>

</html>