<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/logoChico.svg" type="image/x-icon">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>KyMed</title>
</head>

<body>
  <header>
    <picture>
      <img src="../img/logoGrande.svg" alt="logoKyMed">
    </picture>
    <nav>
      <ul class="navBar">
        <li>
          <a href="../index.html">Home</a>
        </li>
        <li>
          <a href="./servicios.html">Servicios</a>
        </li>
        <li>
          <a href="./staff.html">Staff</a>
        </li>
        <li>
          <a href="./ubicacion.html">Ubicación</a>
        </li>
        <li>
          <a href="./contacto.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="container">
    <div class="divCenter">
      <h1 class="mapTitle">¿Dónde nos encontras?</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2777.7434845584708!2d-67.52316468461851!3d-45.8764414443537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbde454c4345eee43%3A0x4a3aa1623e07a0d7!2sKyMed!5e0!3m2!1ses-419!2sar!4v1651767686705!5m2!1ses-419!2sar"
        style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
    </div>
  </main>

  <footer>

    <a href="https://api.whatsapp.com/send?phone=5492974713738" target="_blank"> <img class="redSocial" src="../img/whatsapp.png" alt="logoWhatsApp"></a>
    <a href="https://www.instagram.com/kymed2019/?hl=es" target="_blank"> <img class="redSocial" src="../img/instagram.png" alt="logoInstagram"></a>
    <a href="https://es-la.facebook.com/Kymedconsultorio/" target="_blank"> <img class="redSocial" src="../img/facebook.png" alt="logoFaceBook"></a>
    <a href="mailto:kymed2016.cons@gmail.com" target="_blank"><img class="redSocial" src="../img/gmail.png" alt="logoGmail"></a>

  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>