

.mainIndex {
  display: flex;

  #videoHome {
    display: flex;
    align-items: center;

    .video {
      flex-basis: 50%;

      iframe {
        width: 480px;
        height: 240px;
      }
    }
  }

  .videoHomeDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 1.5rem;
    text-align: center;

    h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2.5em;
    }

    p {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.6em;
    }
  }
}
