

.mainIndex {
  display: flex;

  #videoHome {
    @include flex(row, normal, center, 0rem);

    .video {
      flex-basis: 50%;

      iframe {
        width: 480px;
        height: 240px;
      }
    }
  }

  .videoHomeDescription {
    @include flex(column, normal, center, 2rem);
    margin: 1.5rem;
    text-align: center;

    h1 {
      font-family: map-get(map-get($fontFamily, font-family), title);
      font-size: map-get(map-get($fontSize, font-size), title);
      color: map-get($colors, primary);
    }

    p {
      font-family: map-get(map-get($fontFamily, font-family), txt);
      font-size: map-get(map-get($fontSize, font-size), txt);
      color: map-get($colors, text-color);
    }
  }
}
