

.staff {
  gap: 2rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;

  .staffBox {
    @include flex(column,normal,center,1rem);
    // transition: all .5s linear;

    // &:hover {
    //   transform: scale(1.1, 1.1);
    // }

    .fisioPhoto {
      width: 248px;
      height: 165px;
      border-radius: 10px;
      padding-top: .5rem;
    }

    .fisioName {
      font-family: map-get(map-get($fontFamily, font-family), title);
      font-size: map-get(map-get($fontSize,font-size),title);
      color: map-get($colors, primary);
    }

    .fisioDescription {
      font-family: map-get(map-get($fontFamily, font-family), txt);
      font-size: map-get(map-get($fontSize, font-size), txt);
      color: map-get($colors, text-color);
      padding: 1rem;
    }
  }
}
