

.map {
  width: 600px;
  height: 450px;
}

.mapTitle {
  text-align: center;
  font-family: map-get(map-get($fontFamily, font-family),title);
  font-size: map-get(map-get($fontSize,font-size),title);
}