// normalize

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('../img/fisioterapia.webp');
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}