

@media screen and (min-width:320px) and (max-width:937px) {
  .mainIndex {
      #videoHome {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (min-width:320px) and (max-width:577px) {
  header {
    flex-direction: column;
  }

  .services {
    @include flex(column, normal, normal, 2rem);
  }
}

@media screen and (min-width:320px) and (max-width:479px) {
  .mainIndex #videoHome .video iframe {
    width: 380px;
    height: 240px;
  }


}

@media screen and (min-width:320px) and (max-width:379px) {

  header nav ul li a {
  font-size: map-get(map-get($fontSize, font-size), txtXs);
  }

  .mainIndex .videoHomeDescription h1 {
  font-size: map-get(map-get($fontSize, font-size), titleSmall);
  }

  .mainIndex .videoHomeDescription p {
  font-size: map-get(map-get($fontSize, font-size), txtSmall);
  }

  .mainIndex #videoHome .video iframe {
    width: 300px;
    height: 240px;
  }
}

@media screen and (min-width:320px) and (max-width:398px) {

  .servArticle {
    gap: .5rem;
  }

  .servTitle {
  font-size: map-get(map-get($fontSize, font-size), titleSmall);
  }

  .servDescription {
    font-size: map-get(map-get($fontSize, font-size), txtSmall);
    padding: .5rem;
  }
}

@media screen and (min-width:425px) and (max-width:599px) {

  .map {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width:320px) and (max-width:499px) {

  .map {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width:320px) and (max-width:515px) {
  .staff {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .fisioName {
  font-size: map-get(map-get($fontSize, font-size), titleSmall);
  }

  .fisioDescription {
  font-size: map-get(map-get($fontSize, font-size), txtSmall);
  }
}